@tailwind base;

@tailwind components;

@layer components {
  .text-input {
    @apply block w-full py-3 text-gray-900 placeholder-gray-400 border border-gray-300 rounded-md bg-gray-50 focus:border-gray-200 focus:ring-2 focus:ring-gray-500;
  }

  .btn {
    @apply relative flex justify-center w-full px-4 py-4 text-sm font-medium leading-none rounded-md whitespace-nowrap;
  }

  .btn-flat {
    @apply btn;
    @apply focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-offset-white focus:ring-gray-600;
    @apply text-gray-900 bg-transparent border-0 hover:text-gray-800;
  }

  .btn-primary {
    @apply btn;
    @apply focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-offset-white focus:ring-brand;
    @apply text-white btn bg-brand hover:bg-brand-light;
  }

  .btn-secondary {
    @apply btn;
    @apply focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-offset-white focus:ring-brand-secondary;
    @apply text-white btn bg-brand-secondary hover:bg-brand-secondary-light;
  }

  .btn-icon {
    @apply text-gray-600 border border-transparent rounded hover:text-gray-500 focus:text-gray-700 focus:outline-none;
  }
}

@tailwind utilities;

/* purgecss start ignore */
.autocomplete {
  @apply z-50 mt-2 overflow-auto text-sm bg-white border border-gray-300 rounded shadow-sm;
  max-height: 200px !important;
}

.autocomplete > div {
  @apply px-2 py-2;
}

.autocomplete .group {
  background: #eee;
}

.autocomplete > div:hover:not(.group) {
  @apply bg-gray-100 cursor-pointer;
}

.autocomplete > div.selected {
  @apply bg-gray-100;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

input[type="color"] {
  height: 50px; /* ToDo: Auto height does not work */
  @apply focus:outline-none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  justify-content: center;
}

input[type="color"]::-webkit-color-swatch {
  height: 1.25rem;
  width: 1.25rem;
  border: none;
  border-radius: 100%;
  flex: none;
}
/* purgecss end ignore */
